<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="strConnection" value="Data Source=CREATIVASERVER;Initial Catalog=CSLDB_STEPH; USER=sa; PASSWORD=12345; Timeout=0;"/>-->
    <!--<add key="strConnection" value="Data Source=CREATIVASERVER;Initial Catalog=CSL_STEPH; USER=sa; PASSWORD=12345; Timeout=0;"/>-->
    <add key="strConnection" value="Data Source=serv-steph.database.windows.net;Initial Catalog=CSL_STEPH; USER=stephAdmin; PASSWORD=st3phAdm1n2017; Timeout=0;"/>
    <add key="strBanMac" value="true"/>
    <!--<add key="strMac" value="00:00:00:00:00:00"/>-->
    <add key="strMac" value="B8:AE:ED:B6:F0:ED"/>
    <add key="strBanHostName" value="false"/>
    <add key="strHostName" value=""/>

    <add key="ServerFtpTxt" value="ftp://50.97.128.139/jaguarchiapas.com/wwwroot/"/>
    <add key="UsuarioFtpTxt" value="jaguarch"/>
    <add key="ContraseñaFtpTxt" value="JaguarTours-2016"/>
    
    <add key="CorreoTxt" value="kikeballina1@gmail.com" />
    <add key="PasswordTxt" value="drink922006" />
    <add key="HtmlTxt" value="True" />
    <add key="HostTxt" value="smtp.gmail.com" />
    <!-- Para hotmail el smtp.live.com-->
    <!-- Para gmail el smtp.gmail.com-->
    <add key="PortTxt" value="587" />
    <!-- Para hotmail el 587-->
    <!-- Para gmail el 25-->
    <add key="EnableSslTxt" value="True" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>

